{% extends 'page.html.twig' %}

{% block content %}
    <h1>Registration user</h1>

    {{ form_start(user_registration) }}
        {{ form_widget(user_registration) }}
        <input type="submit" class="btn-success" value="submit" name="submit" />
    {{ form_end(user_registration) }}
{% endblock %}
