{% extends 'page.html.twig' %}

{% block content %}
    <h1>Registration user</h1>

    {{ form_start(user_registration) }}
        {{ form_widget(user_registration) }}
        <button type="submit" class="btn btn-default">Registration</button>
    {{ form_end(user_registration) }}

    <a href="{{ path('article_list') }}">back to list</a>
{% endblock %}
