{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        <header>
            <div style="text-align: right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="#">Logout</a>
                {% else %}
                    <a href="#">Log in</a> |
                    <a href="#">Registration</a>
                {% endif %}
            </div>
        </header>
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block footer %}
        <footer role="contentinfo">
            <div  align="center">
                Copyright &copy; 2018. Lektorium-security Blog. All right reserved.
            </div>
        </footer>
    {% endblock %}
{% endblock %}
